<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.7.0/fonts/remixicon.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.7.0/fonts/remixicon.css" rel="stylesheet">
    <style>
    </style>
    <title>feed</title>
</head>


<body>
    <div
        class="storyarea w-full h-screen bg-gradient-to-b from-black  absolute z-10 hidden flex items-center justify-center">
        <div class=" w-[350px] h-[500px] bg-red-400 m-auto relative ">
            <i class="ri-close-line absolute font-bold text-white text-4xl left-[400px] top-[-10px]"
                onclick="closeStory()"></i>
            <img class="w-full h-full object-cover" id="storyimg" src="" alt="">
        </div>
    </div>
    <div class="main w-full h-screen flex">
        <div class="left w-[25%] h-screen fixed flex flex-col px-3 py-5 shadow-[0_20px_30px_-15px_rgba(0,0,0,0.3)]">
            <div class="logo w-[50%] relative">
                <img class="w-full h-full object-cover" src="/images/download.png" alt="">
            </div>
            <div class="links w-full mt-5 flex flex-col gap-1">
                <a href="/home">
                    <div
                        class="tabs flex pl-1 items-center py-[2px] gap-3  h-11d w-full rounded-md hover:bg-slate-100 transition-all">
                        <i class="text-[28px] font-medium ri-home-5-line"></i>
                        <h3 class="text-lg font-normal">Home</h3>
                    </div>
                </a>
                <a href="/search">
                    <div id="seach"
                        class="tabs flex pl-1 items-center py-[2px] gap-3  h-11d w-full rounded-md hover:bg-slate-100 transition-all">
                        <i class="text-[28px] font-medium ri-search-line"></i>
                        <h3 class="text-lg font-normal">Search</h3>
                    </div>
                </a>
                <a href="/feed">
                    <div
                        class="tabs flex pl-1 items-center py-[2px] gap-3  h-11d w-full rounded-md hover:bg-slate-100 transition-all">
                        <i class="text-[28px] font-medium ri-compass-discover-line"></i>
                        <h3 class="text-lg font-normal">Explore</h3>
                    </div>
                </a>
                <a href="/reels">
                    <div
                        class="tabs flex pl-1 items-center py-[2px] gap-3  h-11d w-full rounded-md hover:bg-slate-100 transition-all">
                        <i class="text-[28px] font-medium ri-movie-2-line"></i>
                        <h3 class="text-lg font-normal">Reels</h3>
                    </div>
                </a>
                <a href="/message">
                    <div
                        class="tabs flex pl-1 items-center py-[2px] gap-3  h-11d w-full rounded-md hover:bg-slate-100 transition-all">
                        <i class="text-[28px] font-medium ri-chat-1-line"></i>
                        <h3 class="text-lg font-normal">Message</h3>
                    </div>
                </a>
                <a href="/notification">
                    <div
                        class="tabs flex pl-1 items-center py-[2px] gap-3  h-11d w-full rounded-md hover:bg-slate-100 transition-all">
                        <i class="text-[28px] font-medium ri-heart-line"></i>
                        <h3 class="text-lg font-normal">Notification</h3>
                    </div>
                </a>
                <div class="baby">
                    <div id="crete"
                        class="tabs flex pl-1 items-center py-[2px] gap-3  h-11d w-full rounded-md hover:bg-slate-100 transition-all">
                        <i class="text-[28px] font-medium ri-add-box-line"></i>
                        <h3 class="text-lg font-normal">Create</h3>
                    </div>
                    <div id="cretepost"
                        class="hidden h-[60px] w-[120px] bg-slate-100 absolute flex rounded-md flex-col gap-1 transition-all">
                        <div
                            class="post w-full h-1/2 flex items-center gap-2 pl-3 rounded-md hover:bg-slate-100 transition-all">
                            <a href="/createpost">Create Post</a>
                        </div>
                        <div
                            class="reels w-full h-1/2 flex items-center gap-2 pl-3 rounded-md hover:bg-slate-100 transition-all">
                            <a href="/createreels">Create Reels</a>
                        </div>
                    </div>
                </div>
                <a href="/logout">
                    <div
                        class="tabs flex pl-1 items-center py-[2px] gap-3  h-11d w-full rounded-md hover:bg-slate-100 transition-all">
                        <i class="text-[28px] font-medium ri-logout-box-line"></i>
                        <h3 class="text-lg font-normal">Logout</h3>
                    </div>
                </a>
                <a href="/profile" class="py-1">
                    <div
                        class="tabs flex pl-1 items-center py-[2px] gap-3  h-11 w-full rounded-md hover:bg-slate-100 transition-all">
                        <div class="profile w-7 h-7 bg-red-500 rounded-full truncate">
                            <img src="<%=loggedinuser.profilepic%>" alt="">
                        </div>
                        <h3 class="text-lg font-normal">Profile</h3>
                    </div>
                </a>
            </div>
            <div
                class="tabs flex pl-1 items-center py-[2px] gap-3  h-11d w-full rounded-md hover:bg-slate-100 transition-all mt-14">
                <i class="text-[28px] font-medium ri-menu-line"></i>
                <h3 class="text-lg font-normal">Create</h3>
            </div>

        </div>
        <div class="right ml-[25%] w-[75%]  flex py-2 px-2 gap-2">

            <div class="left w-[65%] h-screen ">
                <div class="stories flex pt-2 gap-2  relative">
                    <a href="/createstory"> <i
                            class="ri-add-circle-line bg-blue-600 text-white px-1 absolute left-[60px] top-[60px] rounded-full"></i></a>

                    <div class="div w-[80px] h-[80px] rounded-full bg-sky-300 overflow-hidden bg-gradient-to-r from-purple-500 to-pink-500 p-1"
                        onclick='userdets("<%=loggedinuser.story%>")'>
                        <img class="w-full h-full object-cover rounded-full"
                            src="<%=loggedinuser.profilepic%>" alt="">
                    </div>
                    <div class="usersstory flex overflow-auto scrol-auto">

                        <%alluserstory.forEach(story=>{%>
                            <div class="div w-[80px] h-[80px] rounded-full bg-sky-300 overflow-hidden p-1 bg-gradient-to-r from-purple-500 to-pink-500"
                                onclick='userdets("<%=story.story%>")'>
                                <img class="w-full h-full object-cover rounded-full" src="<%=story.dp%>"
                                    alt="">
                            </div>
                            <%})%>

                    </div>

                </div>
                <div class="followingpost w-[400px] mx-auto min-h-max flex flex-col gap-2 pt-3">
                    <%posts.forEach(singlepost=>{ %>

                        <div class="post w-full h-max-h  bg-slate-100 ">
                            <div class="username w-full p-2 flex gap-2 items-center justify-between">
                                <div class="p flex gap-2 items-center">
                                    <div class="profile w-10 bg-sky-300 h-10 rounded-full">
                                        <img class="w-full h-full object-cover rounded-full"
                                            src="<%=singlepost.userid.profilepic%>" alt="">
                                    </div>
                                    <h1>
                                        <%=singlepost.userid.username%>
                                    </h1>
                                </div>
                                <i class="ri-more-fill"></i>
                            </div>

                            <div class="post w-full h-[400px]">
                                <img class="w-full h-full object-cover" src="<%=singlepost.postPic%>"
                                    alt="pic">
                            </div>
                            <div class="like flex items-center justify-between p-1 text-2xl">
                                <div class="likes ">

                                    <!-- <button onclick="like('<%=singlepost._id%>', '<%=loggedinuser._id%>')"><i id="like<%=singlepost._id%>"
                                            class="ri-heart-fill text-red-100">
                                            <%=singlepost.likes.length%>
                                        </i></button> -->

                                    <%if(!singlepost.likes.includes(loggedinuser._id)){%>
                                        <button onclick="like('<%=singlepost._id%>', '<%=loggedinuser._id%>')"><i
                                                id="like<%=singlepost._id%>" class="ri-heart-fill text-red-100">
                                                <%=singlepost.likes.length%>
                                            </i></button>
                                        <%}else{%>
                                            <button onclick="like('<%=singlepost._id%>', '<%=loggedinuser._id%>')"><i
                                                    id="like<%=singlepost._id%>" class="ri-heart-fill text-red-600">
                                                    <%=singlepost.likes.length%>
                                                </i></button>
                                            <%}%>





                                                <i id="commenton" class="ri-chat-1-line" onclick="commentsectionon('open<%=singlepost._id%>')"></i>
                                                <i class="ri-send-plane-line"></i>
                                </div>
                                <i class="ri-bookmark-line"></i>
                            </div>
                            <div class="description text-xs p-1">
                                <p>
                                    <%=singlepost.postText%><a class="font-bold" href=""></a> <br> time <br>
                                </p>
                            </div>
                            <div class="commentArea hidden w-full h-max-h px-3 flex flex-col gap-1 pb-2 open<%=singlepost._id%>">
                                
                                <h1>Add comment</h1>
                                <div class="inputcomment flex">
                                    <input id="comment<%=singlepost._id%>" class=" w-[80%] rounded-full py-1 pl-2" type="text" name="raju"
                                        placeholder="Add a comment..."  />
                                    <button onclick="sendComment('<%=singlepost._id%>')" class="bg-blue-500 rounded-full text-sm text-white w-[20%]">comment</button>
                                </div>
                                <div id="commentarea<%=singlepost._id%>" class="comment rounded-md flex flex-col gap-1">
                                   <%singlepost.comments.forEach((dets)=>{%>
                                    <div class="commants bg-white flex justify-between rounded-full py-1 px-3 gap-8 ">
                                        <div class="commentArea">
                                            <%=dets.comment%>
                                        </div>
                                        <div class="reply flex gap-3"> <i class="ri-heart-fill"></i> <i onclick="replay()" class="ri-reply-line"></i></div>
                                    </div>
                                   
                                   <%})%>              
                                    
                                </div>
                            </div>
                        </div>
                        <%})%>
                </div>
            </div>
            <div class="right w-[35%] h-screen p-3">
                <div class="mainuser flex items-center justify-between">
                    <div class="profile-img flex items-center gap-2">
                        <div class="img w-[60px] h-[60px] bg-sky-300 rounded-full">
                            <img class="w-full h-full object-cover rounded-full"
                                src="<%=loggedinuser.profilepic%>" alt="">
                        </div>
                        <div class="details leading-[20px]">
                            <h1>
                                <%=loggedinuser.username%>
                            </h1>
                            <h1>
                                <%=loggedinuser.name%>
                            </h1>
                        </div>
                    </div>
                    <a class="font-bold" href="">Switch</a>
                </div>
                <h1 class="my-3 font-bold">Suggested for you</h1>

                <div class="suggesteduser flex flex-col gap-2">
                    <%allUser.forEach(singleuser=>{ %>
                        <div onclick="" class="mainuser flex items-center justify-between">
                            <a href="/userprofile/<%=singleuser._id%>">
                                <div class="profile-img flex items-center gap-2">
                                    <div class="img w-[60px] h-[60px] bg-sky-300 rounded-full">
                                        <img class="w-full h-full object-cover rounded-full"
                                            src="<%=singleuser.profilepic%>" alt="">
                                    </div>
                                    <div class="details leading-[20px]">
                                        <h1>
                                            <%=singleuser.username%>
                                        </h1>
                                        <h1>
                                            <%=singleuser.name%>
                                        </h1>
                                    </div>
                                </div>
                            </a>
                            <%if(singleuser.follower.includes(loggedinuser._id)){%>
                                <a data-state="<%=singleuser._id%>" id="followRequest"
                                    class="font-bold text-white bg-red-500 px-3 py-1 rounded"
                                    href="/unfollow/<%=singleuser._id%>">UnFollow</a>
                                <%}else if(singleuser.requests.includes(loggedinuser._id)){%>
                                    <a data-state="<%=singleuser._id%>" id="followRequest"
                                        class="font-bold text-white bg-blue-500 px-3 py-1 rounded"
                                        href="/requested/<%=singleuser._id%>">Requested</a>
                                    <%} else { %>
                                        <a data-state="<%=singleuser._id%>" id="followRequest"
                                            class="font-bold text-white bg-blue-500 px-3 py-1 rounded"
                                            href="/follow/<%=singleuser._id%>">Follow</a>
                                        <%}%>
                        </div>
                        <%})%>


                </div>
            </div>
        </div>
    </div>
    <script>
        var flag = 0;
        document.querySelector(".baby").addEventListener("click", () => {
            if (flag === 0) {
                document.querySelector('#cretepost').classList.remove("hidden")
                flag = 1

            }
            else {
                document.querySelector('#cretepost').classList.add("hidden")
                flag = 0
            }
        })

        let babylike = 0
        function like(userid, loginuser) {
            // console.log(loginuser);
            axios.get(`/like/${userid}`)
                .then(function (response) {
                    // console.log(response.data);
                    if (response.data.likes.includes(loginuser)) {
                        document.querySelector(`#like${userid}`).classList.remove("text-red-100")
                        document.querySelector(`#like${userid}`).classList.add("text-red-600")
                        document.querySelector(`#like${userid}`).innerHTML = response.data.likes.length
                    } else {
                        document.querySelector(`#like${userid}`).classList.remove("text-red-600")
                        document.querySelector(`#like${userid}`).classList.add("text-red-100")
                        document.querySelector(`#like${userid}`).innerHTML = response.data.likes.length
                    }

                })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                })
        }

        let timeout

        function userdets(value) {

            document.querySelector(".storyarea").classList.remove("hidden")
            if (!value) {
                document.querySelector("#storyimg").setAttribute("src", "https://static-prod.adweek.com/wp-content/uploads/2018/02/Instagram-Stories-Tap-to-Type-546x1024.png")
            } else {
                document.querySelector("#storyimg").setAttribute("src", "" + value)
            }

            timeout = setTimeout(() => {
                document.querySelector(".storyarea").classList.add("hidden")
            }, 3000)
        }


        function closeStory() {
            clearTimeout(timeout)
            document.querySelector(".storyarea").classList.add("hidden")
        }

        function sendComment(poostkiid){
            // console.log(`comment${poostkiid}`);
            const cmnt = document.querySelector(`#comment${poostkiid}`)
            const comment = document.querySelector(`#comment${poostkiid}`).value;

            const postid = poostkiid
            const commenthai = comment
            axios.get(`/comment`,{
                params:{
                    postid,
                    commenthai
                }
            }).then(function(response){
                // console.log(response);
                

                const template =  `
                <div class="commants bg-white flex justify-between rounded-full py-1 px-3 gap-8 ">
                                        <div class="commentArea">
                                            ${commenthai}
                                        </div>
                                        <div class="reply flex gap-3"> <i class="ri-heart-fill"></i> <i onclick="replay()" class="ri-reply-line"></i></div>
                                    </div>
                `
                document.querySelector(`#commentarea${poostkiid}`).innerHTML += template
            })

            document.querySelector(`#comment${poostkiid}`).value = ""
        }

        let comt =0
        function commentsectionon(value){
            console.log(value);
            
            
            if(comt ===0){
                document.querySelector(`.${value}`).classList.remove("hidden")
                comt=1
            }else{
                document.querySelector(`.${value}`).classList.add("hidden")
                comt=0

            }

        }

    </script>


</body>

</html>