<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.7.0/fonts/remixicon.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.7.0/fonts/remixicon.css" rel="stylesheet">
    <style>
    </style>
    <title>feed</title>
</head>


<body>
    <div class="postareawithcomment hidden w-screen h-screen fixed  bg-black/85 z-20 px-[150px] py-[70px] ">
        <!-- <i class="ri-close-line absolute font-bold text-white text-4xl top-10 right-20" onclick="clospostarea()"></i>
        <div class="postpart w-full flex h-full bg-white">
            <div class="imagepart w-1/2 h-full">
                <img class="w-full h-full object-cover"
                    src="https://images.unsplash.com/photo-1707501734938-57bac2fb7f81?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="">
            </div>
            <div class="comntarear w-1/2 h-full">
                <div class="profilesect w-full h-max bg-slate-100 flex px-1 items-center py-1 sticky">
                    <div class="personimg h-[60px] w-[60px] ">
                        <img class="w-full h-full obejct-cover rounded-full"
                            src="https://images.unsplash.com/photo-1535026406642-530e01750ad7?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="">
                    </div>
                    <div class="userpostinfo">
                        <h1>username</h1>
                        <h1>post ki tage line</h1>
                    </div>
                </div>
                <div class="commentareas w-full h-[73%] p-2 overflow-auto flex flex-col gap-2 scroll-auto">

                    <div class="comntperson w-full h-max  flex">
                        <div class="personimg h-[60px] w-[60px] ">
                            <img class="w-full h-full obejct-cover rounded-full"
                                src="https://images.unsplash.com/photo-1535026406642-530e01750ad7?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                alt="">
                        </div>
                        <div class="msg w-[70%] flex flex-col px-2 leading-0">
                            <div class="msglikew-full flex justify-between">
                                <h1>comment</h1>
                                <i class="ri-heart-fill"></i>
                            </div>
                            <h1>reply</h1>
                        </div>
                    </div>
                </div>
                <div class="inputaresa w-full h-[13%] flex flex-end items-center justify-center">

                    <input type="text" placeholder="Add you comment" class="border-slate-950 w-[80%] border-b-[2px] px-2 py-[11px] outline-none">
                    <button class="text-white bg-blue-600 w-[20%] py-3  text-center ">comment</button>
                </div>
                <div class="inputaresa w-full h-[13%] flex flex-end items-center justify-center">

                    <input type="text" placeholder="Add you comment" class="border-slate-950 w-[80%] border-b-[2px] px-2 py-[11px] outline-none">
                    <button class="text-white bg-blue-600 w-[20%] py-3  text-center ">reply</button>
                </div>
            </div>
        </div> -->

    </div>
    <div
        class="storyarea w-full h-screen bg-gradient-to-b from-black  absolute z-10 hidden flex items-center justify-center">
        <div class=" w-[350px] h-[500px] bg-red-400 m-auto relative ">
            <i class="ri-close-line absolute font-bold text-white text-4xl left-[400px] top-[-10px]"
                onclick="closeStory()"></i>
            <img class="w-full h-full object-cover" id="storyimg" src="" alt="">
        </div>
    </div>
    
    <div class="mainpage w-full h-screen flex">
        <div class="left w-[25%] h-screen fixed flex flex-col px-3 py-5 shadow-[0_20px_30px_-15px_rgba(0,0,0,0.3)]">
            <div class="logo w-[50%] relative">
                <img class="w-full h-full object-cover" src="/images/download.png" alt="">
            </div>
            <div class="links w-full mt-5 flex flex-col gap-1">
                <a href="/home">
                    <div
                        class="tabs flex pl-1 items-center py-[2px] gap-3  h-11d w-full rounded-md hover:bg-slate-100 transition-all">
                        <i class="text-[28px] font-medium ri-home-5-line"></i>
                        <h3 class="text-lg font-normal">Home</h3>
                    </div>
                </a>
                <a href="/search">
                    <div id="seach"
                        class="tabs flex pl-1 items-center py-[2px] gap-3  h-11d w-full rounded-md hover:bg-slate-100 transition-all">
                        <i class="text-[28px] font-medium ri-search-line"></i>
                        <h3 class="text-lg font-normal">Search</h3>
                    </div>
                </a>
                <a href="/feed">
                    <div
                        class="tabs flex pl-1 items-center py-[2px] gap-3  h-11d w-full rounded-md hover:bg-slate-100 transition-all">
                        <i class="text-[28px] font-medium ri-compass-discover-line"></i>
                        <h3 class="text-lg font-normal">Explore</h3>
                    </div>
                </a>
                <a href="/reels">
                    <div
                        class="tabs flex pl-1 items-center py-[2px] gap-3  h-11d w-full rounded-md hover:bg-slate-100 transition-all">
                        <i class="text-[28px] font-medium ri-movie-2-line"></i>
                        <h3 class="text-lg font-normal">Reels</h3>
                    </div>
                </a>
                <a href="/message">
                    <div
                        class="tabs flex pl-1 items-center py-[2px] gap-3  h-11d w-full rounded-md hover:bg-slate-100 transition-all">
                        <i class="text-[28px] font-medium ri-chat-1-line"></i>
                        <h3 class="text-lg font-normal">Message</h3>
                    </div>
                </a>
                <a href="/notification">
                    <div
                        class="tabs flex pl-1 items-center py-[2px] gap-3  h-11d w-full rounded-md hover:bg-slate-100 transition-all">
                        <i class="text-[28px] font-medium ri-heart-line"></i>
                        <h3 class="text-lg font-normal">Notification</h3>
                    </div>
                </a>
                <div class="baby">
                    <div id="crete"
                        class="tabs flex pl-1 items-center py-[2px] gap-3  h-11d w-full rounded-md hover:bg-slate-100 transition-all">
                        <i class="text-[28px] font-medium ri-add-box-line"></i>
                        <h3 class="text-lg font-normal">Create</h3>
                    </div>
                    <div id="cretepost"
                        class="hidden h-[60px] w-[120px] bg-slate-100 absolute flex rounded-md flex-col gap-1 transition-all">
                        <div
                            class="post w-full h-1/2 flex items-center gap-2 pl-3 rounded-md hover:bg-slate-100 transition-all">
                            <a href="/createpost">Create Post</a>
                        </div>
                        <div
                            class="reels w-full h-1/2 flex items-center gap-2 pl-3 rounded-md hover:bg-slate-100 transition-all">
                            <a href="/createreels">Create Reels</a>
                        </div>
                    </div>
                </div>
                <a href="/logout">
                    <div
                        class="tabs flex pl-1 items-center py-[2px] gap-3  h-11d w-full rounded-md hover:bg-slate-100 transition-all">
                        <i class="text-[28px] font-medium ri-logout-box-line"></i>
                        <h3 class="text-lg font-normal">Logout</h3>
                    </div>
                </a>
                <a href="/profile" class="py-1">
                    <div
                        class="tabs flex pl-1 items-center py-[2px] gap-3  h-11 w-full rounded-md hover:bg-slate-100 transition-all">
                        <div class="profile w-7 h-7 bg-red-500 rounded-full truncate">
                            <img src="<%=loggedinuser.profilepic%>" alt="">
                        </div>
                        <h3 class="text-lg font-normal">Profile</h3>
                    </div>
                </a>
            </div>
            <div
                class="tabs flex pl-1 items-center py-[2px] gap-3  h-11d w-full rounded-md hover:bg-slate-100 transition-all mt-14">
                <i class="text-[28px] font-medium ri-menu-line"></i>
                <h3 class="text-lg font-normal">Create</h3>
            </div>

        </div>
        <div class="right ml-[25%] w-[75%] flex py-2 px-2 gap-2 relative">

            <div class="left w-full h-max relative  mx-auto h-screen ">
                <div class="centerpart w-[65%] ">
                    <div class="stories flex pt-2 gap-2  relative">
                        <a href="/createstory"> <i
                                class="ri-add-circle-line bg-blue-600 text-white px-1 absolute left-[60px] top-[60px] rounded-full"></i></a>

                        <div class="div w-[80px] h-[80px] rounded-full bg-sky-300 overflow-hidden bg-gradient-to-r from-purple-500 to-pink-500 p-1"
                            onclick='userdets("<%=loggedinuser.story%>")'>
                            <img class="w-full h-full object-cover rounded-full" src="<%=loggedinuser.profilepic%>"
                                alt="">
                        </div>
                        <div class="usersstory flex overflow-auto scrol-auto">

                            <%alluserstory.forEach(story=>{%>
                                <div class="div w-[80px] h-[80px] rounded-full bg-sky-300 overflow-hidden p-1 bg-gradient-to-r from-purple-500 to-pink-500"
                                    onclick='userdets("<%=story.story%>")'>
                                    <img class="w-full h-full object-cover rounded-full" src="<%=story.dp%>" alt="">
                                </div>
                                <%})%>

                        </div>

                    </div>
                    <div class="followingpost relative  mx-auto w-[400px] absolute min-h flex gap-4 pt-3 ">
                        <%posts.forEach(singlepost=>{ %>

                            <div class="post w-full h-max-h border mt-4 rounded-md">
                                <div class="username w-full p-2 flex gap-2 items-center justify-between">
                                    <div class="p flex gap-2 items-center">
                                        <div class="profile w-10 bg-sky-300 h-10 rounded-full">
                                            <img class="w-full h-full object-cover rounded-full"
                                                src="<%=singlepost.userid.profilepic%>" alt="">
                                        </div>
                                        <h1>
                                            <%=singlepost.userid.username%>
                                        </h1>
                                    </div>
                                    <i class="ri-more-fill"></i>
                                </div>

                                <div class="post w-full h-[400px]">
                                    <img class="w-full h-full object-cover" src="<%=singlepost.postPic%>" alt="pic">
                                </div>
                                <div class="like flex items-center justify-between p-1 text-2xl">
                                    <div class="likes ">

                                        <!-- <button onclick="like('<%=singlepost._id%>', '<%=loggedinuser._id%>')"><i id="like<%=singlepost._id%>"
                                                class="ri-heart-fill text-red-100">
                                                <%=singlepost.likes.length%>
                                            </i></button> -->

                                        <%if(!singlepost.likes.includes(loggedinuser._id)){%>
                                            <button onclick="like('<%=singlepost._id%>', '<%=loggedinuser._id%>')"><i
                                                    id="like<%=singlepost._id%>" class="ri-heart-fill text-red-100">
                                                    <%=singlepost.likes.length%>
                                                </i></button>
                                            <%}else{%>
                                                <button
                                                    onclick="like('<%=singlepost._id%>', '<%=loggedinuser._id%>')"><i
                                                        id="like<%=singlepost._id%>" class="ri-heart-fill text-red-600">
                                                        <%=singlepost.likes.length%>
                                                    </i></button>
                                                <%}%>
                                                    <i id="commenton" onclick="opencommentarea('<%=singlepost._id%>')"
                                                        class="ri-chat-1-line"></i>
                                                    <i id="replyon" class="ri-send-plane-line"></i>
                                    </div>
                                    <i class="ri-bookmark-line"></i>
                                </div>
                                <div class="description text-xs p-1">
                                    <p>
                                        <%=singlepost.postText%><a class="font-bold" href=""></a>
                                    </p>
                                </div>

                                <div
                                    class="commentArea hidden w-full h-max-h px-3 flex flex-col gap-1 pb-2 open<%=singlepost._id%>">
                                    <div id="commentarea<%=singlepost._id%>"
                                        class="comment rounded-md flex flex-col gap-1">
                                        <%commentss.forEach((dets)=>{%>
                                            <!-- <%=dets.postid%> -->
                                            <!-- <%=singlepost._id%> -->
                                            <%if(dets.postid==singlepost._id){%>
                                                <div
                                                    class="commants bg-white border-2 rounded-full flex justify-between py-2 px-3 gap-8 items-center ">
                                                    <div class="commentArea flex items-center">
                                                        <div
                                                            class="profileimg w-[40px] h-[40px] bg-red-500 mr-3 rounded-full">
                                                            <img class="w-full h-full object-cover rounded-full "
                                                                src="<%=dets.userid.profilepic%>" alt="">
                                                        </div>
                                                        <%=dets.comment%>
                                                    </div>
                                                    <div class="reply flex gap-3"> <i class="ri-heart-fill"></i>
                                                        <i class="ri-reply-line replyonhai"
                                                            onclick="reply('<%=dets._id%>')"></i>
                                                    </div>
                                                    <!-- <%=dets.reply%> -->

                                                </div>
                                                <%dets.reply.forEach((replysss)=>{%>
                                                    <div
                                                        class="commants w-[80%] ml-auto rounded-full border-2 bg-slate-100 flex justify-between py-2 px-3 gap-8 items-center ">
                                                        <div class="commentArea flex items-center">
                                                            <div
                                                                class="profileimg w-[40px] h-[40px] bg-red-500 mr-3 rounded-full">
                                                                <img class="w-full h-full object-cover rounded-full "
                                                                    src="<%=replysss.userid.profilepic%>" alt="">
                                                            </div>
                                                            <%=replysss.reply%>
                                                        </div>
                                                        <div class="reply flex gap-3"> <i class="ri-heart-fill"></i>
                                                            <i class="ri-reply-line replyonhai"
                                                                onclick="reply('<%=dets._id%>')"></i>
                                                        </div>




                                                    </div>
                                                    <%})%>
                                                        <!-- equal hai -->
                                                        <%}else{%>
                                                            <!-- nahi hai -->
                                                            <%}%>

                                                                <%})%>
                                    </div>
                                </div>
                                <%})%>
                            </div>
                    </div>
                </div>
                
            </div>
            
        </div>
        <div class="rightusers min-w-[325px] absolute right-0 top-0   p-3">
            <div class="mainuser flex items-center justify-between">
                <div class="profile-img flex items-center gap-2">
                    <div class="img w-[60px] h-[60px] bg-sky-300 rounded-full">
                        <img class="w-full h-full object-cover rounded-full" src="<%=loggedinuser.profilepic%>"
                            alt="">
                    </div>
                    <div class="details leading-[20px]">
                        <h1>
                            <%=loggedinuser.username%>
                        </h1>
                        <h1>
                            <%=loggedinuser.name%>
                        </h1>
                    </div>
                </div>
                <a class="font-bold" href="">Switch</a>
            </div>
            <h1 class="my-3 font-semibold">Suggested for you</h1>

            <div class="suggesteduser w-full flex flex-col gap-2">
                <%allUser.forEach(singleuser=>{ %>
                    <div onclick="" class="mainuser w-full flex items-center justify-between">
                        <a href="/userprofile/<%=singleuser._id%>">
                            <div class="profile-img  flex items-center gap-2">
                                <div class="img w-[60px] h-[60px] bg-sky-300 rounded-full">
                                    <img class="w-full h-full object-cover rounded-full"
                                        src="<%=singleuser.profilepic%>" alt="">
                                </div>
                                <div class="details leading-[20px]">
                                    <h1>
                                        <%=singleuser.username%>
                                    </h1>
                                    <h1>
                                        <%=singleuser.name%>
                                    </h1>
                                </div>
                            </div>
                        </a>
                        <%if(singleuser.follower.includes(loggedinuser._id)){%>
                            <a data-state="<%=singleuser._id%>" id="followRequest"
                                class="font-bold text-white bg-red-500 px-3 py-1 rounded"
                                href="/unfollow/<%=singleuser._id%>">UnFollow</a>
                            <%}else if(singleuser.requests.includes(loggedinuser._id)){%>
                                <a data-state="<%=singleuser._id%>" id="followRequest"
                                    class="font-bold text-white bg-blue-500 px-3 py-1 rounded"
                                    href="/requested/<%=singleuser._id%>">Requested</a>
                                <%} else { %>
                                    <a data-state="<%=singleuser._id%>" id="followRequest"
                                        class="font-bold text-white bg-blue-500 px-3 py-1 rounded"
                                        href="/follow/<%=singleuser._id%>">Follow</a>
                                    <%}%>
                    </div>
                    <%})%>


            </div>
        </div>
        <script>
            var flag = 0;
            document.querySelector(".baby").addEventListener("click", () => {
                if (flag === 0) {
                    document.querySelector('#cretepost').classList.remove("hidden")
                    flag = 1

                }
                else {
                    document.querySelector('#cretepost').classList.add("hidden")
                    flag = 0
                }
            })

            let babylike = 0
            function like(userid, loginuser) {
                // console.log(loginuser);
                axios.get(`/like/${userid}`)
                    .then(function (response) {
                        // console.log(response.data);
                        if (response.data.likes.includes(loginuser)) {
                            document.querySelector(`#like${userid}`).classList.remove("text-red-100")
                            document.querySelector(`#like${userid}`).classList.add("text-red-600")
                            document.querySelector(`#like${userid}`).innerHTML = response.data.likes.length
                        } else {
                            document.querySelector(`#like${userid}`).classList.remove("text-red-600")
                            document.querySelector(`#like${userid}`).classList.add("text-red-100")
                            document.querySelector(`#like${userid}`).innerHTML = response.data.likes.length
                        }

                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    })
            }

            let timeout

            function userdets(value) {

                document.querySelector(".storyarea").classList.remove("hidden")
                if (!value) {
                    document.querySelector("#storyimg").setAttribute("src", "https://static-prod.adweek.com/wp-content/uploads/2018/02/Instagram-Stories-Tap-to-Type-546x1024.png")
                } else {
                    document.querySelector("#storyimg").setAttribute("src", "" + value)
                }

                timeout = setTimeout(() => {
                    document.querySelector(".storyarea").classList.add("hidden")
                }, 3000)
            }

            function closeStory() {
                clearTimeout(timeout)
                document.querySelector(".storyarea").classList.add("hidden")
            }

            function sendComment(poostkiid) {
                const comment = document.querySelector(`#input${poostkiid}`).value
                // console.log(comment);
                const loginkiprofile = '<%=loggedinuser.profilepic%>'
                // console.log(loginkiprofile);

                const postid = poostkiid
                const commenthai = comment
                console.log(postid, commenthai)
                axios.get(`/comment`, {
                    params: {
                        postid,
                        commenthai
                    }
                }).then(function (response) {

                const template2 = `
                
                <div class="comntperson w-full h-max  flex">
                        <div class="personimg h-[60px] w-[60px] ">
                            <img class="w-full h-full obejct-cover rounded-full"
                                src="${loginkiprofile}"
                                alt="">
                        </div>
                        <div class="msg w-[70%] flex flex-col px-2 leading-0">
                            <div class="msglikew-full flex justify-between">
                                <h1>${commenthai}</h1>
                                <i class="ri-heart-fill"></i>
                            </div>
                            <h1 onclick="reply('${poostkiid}')">reply</h1>
                        </div>
                    </div>`
                    document.querySelector(`#comt${poostkiid}`).innerHTML += template2
                })

                document.querySelector(`#input${poostkiid}`).value = " "
            }





    
            var replytoperson


            function sendReply(replyid) {
                const replyss = document.querySelector(`#inputdia${replyid}`).value;
                console.log(replyss);
                console.log(replytoperson);

                const reply = replyss
                const commentid = replytoperson
                const postid = replyid

                axios.get("/reply", {
                    params: {
                        reply,
                        commentid,
                        postid
                    }
                }).then(function (response) {
                    console.log(response);
                    const template = 
                    `<div class="comntperson bg-slate-100 w-[70%] ml-auto h-max  flex">
                                <div class="personimg h-[60px] w-[60px] ">
                                        <img class="w-full h-full obejct-cover rounded-full"
                                src="${response.data.userid.profilepic}"
                                alt="">
                        </div>
                        <div class="msg w-[100%] flex flex-col px-2 leading-0">
                            <div class="msglikew-full flex ">
                                <h1>${response.data.reply}</h1>
                                <i class="ri-heart-fill ml-auto"></i>
                            </div>
                            
                            <h1 onclick="openreply('${singlelm._id}','${response.data.posinfo._id}')")>reply</h1>
                        </div>
                    </div>
                    `

                    document.querySelector(`#comt${replyid}`).innerHTML += template
                })
            }


            function openreply(userid,postid){
                console.log(userid);
                console.log(postid);
                replytoperson = userid
                document.querySelector(`#commentkar${postid}`).classList.add("hidden")
                document.querySelector(`#replykar${postid}`).classList.remove("hidden")
            }
            function opencommentarea(bay) {
                console.log(bay);
                document.querySelector(".postareawithcomment").classList.remove("hidden")
                document.querySelector(".mainpage").classList.add("overflow-hidden")
                document.body.style.overflow = 'hidden';

                axios.get(`/post/${bay}`).then(function (response) {
                    console.log(response);

                    var template = `
                    <i class="ri-close-line absolute font-bold text-white text-4xl top-10 right-20" onclick="clospostarea()"></i>
        <div class="postpart w-full flex h-full bg-white">
            <div class="imagepart w-1/2 h-full">
                <img class="w-full h-full object-cover"
                    src="${response.data.posinfo.postPic}"
                    alt="">
            </div>
            <div class="comntarear w-1/2 h-full">
                <div class="profilesect w-full h-max  flex px-1 items-center py-1 sticky">
                    <div class="personimg h-[60px] w-[60px] ">
                        <img class="w-full h-full obejct-cover rounded-full"
                            src="${response.data.posinfo.userid.profilepic}"
                            alt="">
                    </div>
                    <div class="userpostinfo ml-3">
                        <h1>${response.data.posinfo.userid.username}</h1>
                        <h1>${response.data.posinfo.postText}</h1>
                    </div>
                </div>
                <div id="comt${bay}" class="commentareas w-full h-[73%] p-2 px-2 overflow-auto flex flex-col gap-2 scroll-auto">

                </div>
                <div id="commentkar${bay}" class="inputaresa w-full h-[13%] flex flex-end items-center justify-center">

                    <input id="input${bay}" type="text" placeholder="Add you comment" class="border-slate-950 w-[80%] border-b-[2px] px-2 py-[11px] outline-none">
                    <button onclick="sendComment('${bay}')" class="text-white bg-blue-600 w-[20%] py-3  text-center ">comment</button>
                </div>
                <div id="replykar${bay}" class="inputaresa hidden w-full h-[13%] flex flex-end items-center justify-center">

<input id="inputdia${bay}" type="text" placeholder="Add you comment" class="border-slate-950 w-[80%] border-b-[2px] px-2 py-[11px] outline-none">
<button onclick="sendReply('${bay}')"  class="text-white bg-blue-600 w-[20%] py-3  text-center ">reply</button>
</div>
            </div>
        </div>
                    `

                    
                    
var baby = ''
                    response.data.commentss.forEach(singlelm=>{
                        if(singlelm.postid == bay){
                            // console.log("asdjkahk");
                             baby += 
                    `<div class="comntperson w-full h-max  flex">
                                <div class="personimg h-[60px] w-[60px] ">
                                        <img class="w-full h-full obejct-cover rounded-full"
                                src="${singlelm.userid.profilepic}"
                                alt="">
                        </div>
                        <div class="msg w-[100%] flex flex-col px-2 leading-0">
                            <div class="msglikew-full flex ">
                                <h1>${singlelm.comment}</h1>
                                <i class="ri-heart-fill ml-auto"></i>
                            </div>
                            
                            <h1 onclick="openreply('${singlelm._id}','${response.data.posinfo._id}')")>reply</h1>
                        </div>
                    </div>
                    `
                    singlelm.reply.forEach(singlereply=>{
                        baby += 
                    `<div class="comntperson bg-slate-100 w-[70%] ml-auto h-max  flex">
                                <div class="personimg h-[60px] w-[60px] ">
                                        <img class="w-full h-full obejct-cover rounded-full"
                                src="${singlereply.userid.profilepic}"
                                alt="">
                        </div>
                        <div class="msg w-[100%] flex flex-col px-2 leading-0">
                            <div class="msglikew-full flex ">
                                <h1>${singlereply.reply}</h1>
                                <i class="ri-heart-fill ml-auto"></i>
                            </div>
                            
                            <h1 onclick="openreply('${singlelm._id}','${response.data.posinfo._id}')")>reply</h1>
                        </div>
                    </div>
                    `
                    })

                        }
                        else{
                            return
                        }
                        

                    })
                    
                    
                    document.querySelector(".postareawithcomment").innerHTML += template;
                    // console.log(document.querySelector(`#comt${bay}`));
                    document.querySelector(`#comt${bay}`).innerHTML += baby
                })

            }
            function clospostarea() {
                document.querySelector(".postareawithcomment").classList.add("hidden")
                document.body.style.overflow = 'auto';
                document.querySelector(".postareawithcomment").innerHTML = ''
            }

        </script>


</body>

</html>